<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <form action="/admin/work-experience/create" method="post" enctype="multipart/form-data" class="flex flex-col gap-2">
        <div>
            <label for="">role:</label>
            <input type="text" name="role" required class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <div>
            <label for="">company:</label>
            <input type="text" name="company" required class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <div>
            <label for="">image:</label>
            <input type="file" name="image" required class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <div>
            <label for="">tasks:</label>
            <textarea name="tasks" required class="px-2 rounded text-slate-600 bg-slate-200"></textarea>
        </div>
        <div>
            <label for="">tech_stacks:</label>
            <textarea name="tech_stacks" required class="px-2 rounded text-slate-600 bg-slate-200"></textarea>
        </div>
        <div>
            <label for="">start_date:</label>
            <input type="date" name="start_date" required class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <div>
            <label for="">end_date:</label>
            <input type="date" name="end_date" class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <button type="submit" class="w-[100px] px-2 py-1 rounded-lg text-center font-bold text-white bg-blue-500">submit</button>
    </form>
    <div class="flex flex-wrap gap-4 justify-center mt-4">
        {{#each work_experiences}}
        <div class="flex flex-col">
            {{>work_experience data=this}}

            <a href="/admin/work-experience/edit/{{this.id}}"
                class="mt-2 mb-1 w-[100px] px-2 py-1 rounded-lg text-center font-bold text-white bg-green-500">edit</a>
            <form action="/admin/work-experience/remove" method="post">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit"
                    class="w-[100px] px-2 py-1 rounded-lg text-center font-bold text-white bg-red-500">delete</button>
            </form>
        </div>
        {{/each}}
    </div>
</body>

</html>