<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <form action="/admin/tech-stack/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{tech_stack.id}}" required>
        <div>
            <label for="">name:</label>
            <input type="text" name="name" value="{{tech_stack.name}}" required class="px-2 rounded text-slate-600 bg-slate-200">
        </div>
        <div>
            <label for="">image:</label>
            <input type="file" name="image">
        </div>
        <button type="submit" class="w-[100px] px-2 py-1 rounded-lg text-center font-bold text-white bg-blue-500">submit</button>
    </form>
</body>
</html>