<div class="grow p-3 rounded bg-gray-100">
    <div class="max-w-fit mb-5">
        <p class="text-3xl font-bold break-words text-slate-800">
            Dashboard
        </p>
        <hr class="rounded-full border border-orange-500">
    </div>
    <div class="flex flex-wrap gap-3">
        <div class="grow p-3 rounded bg-white">
            <div class="flex flex-col">
                <p class="text-center lg:text-left text-xl font-bold text-slate-800">
                    Count
                </p>
                <div class="flex flex-wrap lg:flex-nowrap justify-around gap-4 mt-1">
                    <div class="basis-2/5 lg:basis-1/4 p-3 border-l-4 rounded-lg border-orange-500 bg-orange-50">
                        <p class="text-lg font-medium text-slate-800">
                            Tech Stacks
                        </p>
                        <p class="font-medium text-slate-800">
                            {{count_tech_stacks}}
                        </p>
                    </div>
                    <div class="basis-2/5 lg:basis-1/4 p-3 border-l-4 rounded-lg border-yellow-500 bg-yellow-50">
                        <p class="text-lg font-medium text-slate-800">
                            Work Experience
                        </p>
                        <p class="font-medium text-slate-800">
                            {{count_work_experiences}}
                        </p>
                    </div>
                    <div class="basis-2/5 lg:basis-1/4 p-3 border-l-4 rounded-lg border-green-500 bg-green-50">
                        <p class="text-lg font-medium text-slate-800">
                            Project
                        </p>
                        <p class="font-medium text-slate-800">
                            {{count_projects}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>