<div class="fixed flex justify-center inset-x-0 top-2" data-auto-hide="3000">
    <div class="p-3 min-w-[300px] max-w-[400px] shadow-md rounded-lg bg-white">
        <div class="w-full flex flex-nowrap">
            <div class="rounded-full border-2 border-blue-500"></div>
            <div class="flex flex-col pl-3">
                <p class="font-bold text-blue-500">Info!</p>
                <p class="text-sm font-medium text-slate-500">
                    {{message}}
                </p>
            </div>
        </div>
    </div>
</div>